body{
    background-color: #D4EFFB;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100%;
}

body, div, form, input, select, label { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

form {
    width: 50%;
    text-align : center;
    margin-right: 200;
    padding: 20px;
    border-radius: 6px;
    background: #FFFFC1;
    box-shadow: 0 0 8px  #669999; 
    margin: 150px 0;
}