html, body {
    min-height: 95%;
}
body{
    background-color: #D4EFFB;
}
body, div, form, input, select, label{ 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

h1 {
    position: absolute;
    margin: 0;
    font-size: 40px;
    color: white;
    z-index: 2;
    line-height: 83px;
}


.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 100px;
    width:85%;
}
.frm {
    width: 100%;
    padding: 40px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px  #669999; 
}
.banner {
    position: relative;
    height: 300px;
    background-image: url("msg.jpg");  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.3); 
    position: absolute;
    width: 100%;
    height: 100%;
}
input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}

.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color:  #669999;
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #669999;
    color: #669999;
} 
    .item {
    position: relative;
    margin: 10px 0;
    }
    .star {
    color: red;
    }
    .colums {
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap:wrap;
    }
    .colums div {
    width:48%;
    }
    
        select{
            display: flex;
            align-items: flex-start;
        }
        .item option:hover {background-color: #daf0ff;}

    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
   
    .tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: inherit;
        background-color: #dfebf5;;
        color: #290C57;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        /* Position the tooltip */
        position: absolute;
        /*z-index: 1;*/
        top: 100%;
        left: 20%;
        margin-left: -60px;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
      }
     
    
      button{
        width: 100px;
        /*padding: 10px;*/
        border: none;
        border-radius: 5px; 
        cursor: pointer;
      }

      #center{
            margin: 0;
            position: absolute;
            top: 80%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
      }